<div class="card mb-3">
    <img style="height: 500px;" src="../../../assets/nest3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 style="padding: 50px; ;" class="card-title">How we can help?</h5>
      <p class="card-text">Write to us</p>
      <ul>
        <li>Request for proposel</li>
      </ul>
      <ul>
        <li>Media Enquiries</li>
      </ul>
      <ul>
        <li>paternership opportunities</li>
      </ul>
      <ul>
        <li>Issue Escalation</li>
      </ul>
      <br>
        
      <div class="mb-3">
        <label for="formGroupExampleInput" style="color: black;"  class="form-label">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" style="color:black;" class="form-label">Designation</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" style="color: black;" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" style="color: black;" class="form-label">Subject</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" style="color: black;" class="form-label">Message</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>

      <br>

      <ul class="nav flex-row">
        <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: black;"  href="#">Quick link</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">whitepapers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">webinars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">podcasts</a>
        </li>
        </ul>
    
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: black;"  href="#">Industries</a>
          <li class="nav-item">
            <a class="nav-link" href="#">mobility</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Aerospace & <br> Defence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Locomotive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Industrial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Banking & <br> Financial <br> service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Insurence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Healthcare</a>
          </li>
        </ul>
    
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: black;"  href="#">Services</a>
            <li class="nav-item">
              <a class="nav-link" href="#">cloud services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cyber security</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Data engineering</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DevOps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">GIS</a>
            </li>
          </ul>
    

