<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" style="background-color: transparent; box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           mission
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong></strong> Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.<code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" style="background-color: transparent; box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          vision 
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong></strong>Be a global technology driven company contributing to the enhancement of quality of life of the people and provide best value for all stake holders.<code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" style="background-color: transparent; box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Who we Are 
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong></strong>Engineering Transformation. NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.  <code></code>
        </div>
      </div>
    </div>
  </div>


  <ul class="nav flex-row">
    <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" style="color: black;"  href="#">Quick link</a>
      
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">about us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">insights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">careers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">whitepapers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">webinars</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">podcasts</a>
    </li>
    </ul>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" style="color: black;"  href="#">Industries</a>
      <li class="nav-item">
        <a class="nav-link" href="#">mobility</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Aerospace & <br> Defence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Locomotive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Industrial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Banking & <br> Financial <br> service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Insurence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Healthcare</a>
      </li>
    </ul>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" style="color: black;"  href="#">Services</a>
        <li class="nav-item">
          <a class="nav-link" href="#">cloud services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cyber security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Data engineering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DevOps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GIS</a>
        </li>
      </ul>